.hw13 {
    width: 1280px;
    margin: auto;
    padding: 20px 0;
    background-color: #FFFFFF;
}

.buttonsContainer {
    display: flex;
    column-gap: 20px;
    margin-bottom: 50px;
}

.responseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.imageContainer {
}

.image {
}

.textContainer{
    max-width: 450px;
}

.code {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 26px;
}

.text {
}
.info {
}