.hw15 {
    width: 1280px;
    margin: auto;
    padding: 20px 0;
    background-color: #FFFFFF;
    position: relative;
}

.tech {
    width: 30vw;
    padding: 10px;
}

.developer {
    padding: 10px;
}

.techHeader {
    width: 30vw;
}

.developerHeader {

}

.row {
    display: flex;
    width: 70%;
}
.row:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.rowHeader {
    display: flex;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 70%;
}

.loading {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.loading__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%;
}