.hw8 {
    width: 1280px;
    margin: auto;
    padding: 20px 0;
    background-color: #FFFFFF;
}

.item {
}

.item:last-of-type {
}

.users {
    width: 100%;
    border-spacing: 0;
}

.buttonsContainer {
    display: flex;
    justify-content: end;
    column-gap: 10px;
    margin-bottom: 20px;
}

.container {
    width: 600px;
}

.thead {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    background-color: #E5E5E5;
}

.nameCol {
    width: 50%;
    padding: 15px 10px;
}

.ageCol {
    width: 50%;
    padding: 15px 10px 15px 0;
    font-weight: 600;
}