.App {
    --header_height: 60px;
    display: flex;
}

.hw {
    padding: 30px 0;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #000000;
}
