.friendMessage {
    position: relative;
    margin-bottom: 35px;
}

.friendImageAndText {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.friendImageAndText img {
    position: relative;
    top: 10px;
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #F5F7FB;
    box-shadow: 0 5px 20px 0 #1D212608;
}

.friendText:after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 7px solid #F5F7FB;
}

.friendName {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.friendMessageText {
    font-size: 16px;
    color: #000000;
}

.friendTime {
    position: absolute;
    left: 10px;
    bottom: -18px;
    font-size: 10px;
    font-weight: 700;
    color: #000000;
}
